/* Social & Contact */
.social-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 15rem;
  margin: 0 auto;
  @include media-query('md') {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 63%;
    margin: initial;
    text-align: initial;
  }
}

.social-contact__img {
  max-width: 10rem;
  margin: 0 auto 1rem;
  transform: rotate(-10deg);
  transition: transform 1s;
  @include media-query('md') {
    max-width: 7rem;
    margin: initial;
    grid-row: 1 / 3;
  }
}

.social-contact__name {
  padding: 0 1rem;
  margin-bottom: 1rem;
  color: var(--color-text);
  text-decoration: none;
  @include media-query('md') {
    margin-bottom: initial;
  }
  &:hover {
    text-decoration: underline;
  }
}

.social-contact__links {
  display: flex;
  justify-content: space-evenly;
}

.social-contact__item {
  display: inline-block;
}

.social-contact__icon {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  background-repeat: no-repeat;
}

.social-contact__icon:link,
.social-contact__icon:visited {
  transition: all 0.2s ease-out;
  color: var(--color-theme-primary);
}

.social-contact__icon:hover,
.social-contact__icon:active,
.social-contact__icon:focus {
  color: var(--color-highlight);
}
